:root{
    --cor-de-fundo: #F7EEE9;
    --cor-de-texto: #ffffff;
    --cor-do-cabeçalho: #bad3a3;
    --cor-apresentacao: #c3eecf;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

header{
    display: flex;
    color: var(--cor-de-texto);
    background-color: var(--cor-do-cabeçalho);
    justify-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--cor-de-texto);
    border-radius: 15px;
}

img{
    width: 20%
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 150%;
}

.imagem{
    width: 35%;
    padding-right: 5%;
    padding-left: 1%;
}

.apresentacao{
    display: flex;
    background-color: var(--cor-apresentacao);
    border: 2px solid var(--cor-de-texto);
    padding: 20px 0 0;
    margin: 20px 0 0;
    border-radius: 15px;
}

.blablabla{
    display: flex;
    background-color: var(--cor-apresentacao);
    border: 2px solid var(--cor-de-texto);
    padding: 20px;
    margin: 20px 0 0;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}


.tchotcho{
    width: 35%;
    padding-right: 1%;
    padding-left: 5%;
}

.adrianabloco{
    display: flex;
    background-color: var(--cor-apresentacao);
    border: 2px solid var(--cor-de-texto);
    padding: 30px 0 0;
    margin: 20px 0 0;
    border-radius: 15px;
}

.fonte{
    font-size: 33px;
}

.textozinho{
    font-size: 20px;
}


footer{
    background-color: #BBB2AB;
    color: rgb(255, 255, 255);
    padding: 20px 0 0;
    margin: 20px 0 0;
    border-radius: 15px;
    border: 2px solid var(--cor-de-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a{
    color: #ffffff;
    text-decoration: none;
}

